.wrapper {
  color: white;
  padding: 20px;
}

.h1,
.p {
  margin-bottom: 10px;
}

.code {
  background-color: #151515;
  border-radius: 4px;
  color: #90a959;
  display: block;
  font-family: monospace;
  padding: 15px;
  width: 80%;
}
