.wrapper {
  fill: white;
}

.green {
  fill: #0f9;
}
.purple {
  fill: #93f;
}
.blue {
  fill: #0cf;
}
.yellow {
  fill: #fff35c;
}
.red {
  fill: #f66;
}
.shadow {
  fill: hsla(0, 0%, 0%, 0.4);
}

.text {
  fill: white;
}
