.wrapper {
  align-items: center;
  color: white;
  display: flex;
  height: 40px;
  padding: 12px 0 6px;

  h1 {
    display: inline;
    font-size: 28px;
    font-weight: 900;
  }
}

.logo {
  align-items: center;
  display: inline-flex;
  height: 100%;
  margin-right: 8px;

  svg {
    height: 26px;
  }
}
